.div{
    border: solid hsl(176, 50%, 47%);
    border-bottom: none;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.div2{
    border-radius: 0.8rem;
}

.styleamount{
    border: solid hsl(176, 50%, 47%);
    border-bottom: none;
}

.amount{
    border-top: none;
    border-bottom: solid hsl(176, 50%, 47%);
}


.notToggle{
    width: 0;
    height: 0;
}

.toggle{
    border: none;
    border-radius: 50%;
    margin-left: 0.3rem;
    margin-top: 0.25rem;
    width: 12px;
    height: 12px;
    background: hsl(176, 50%, 47%);
    cursor: pointer;
}