/* pledgeDivs control the border of the Pledge Reward Containers */
.pledgeDiv{
    border: solid hsl(176, 50%, 47%);
    border-bottom: none;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.pledgeDiv2{
    border-radius: 0.8rem;
}
/* Controls the border of the container that allows you to put in money amount for pledge */
.pledgeStyleAmount{
    border: solid hsl(176, 50%, 47%);
    border-top: none;
}

/* Remove green dot */
.notToggle{
    display: none;
}
/* Brings up green dot */
.toggle{
    border: none;
    border-radius: 50%;
    margin-left: 0.3rem;
    margin-top: 0.25rem;
    width: 12px;
    height: 12px;
    background: hsl(176, 50%, 47%);
    cursor: pointer;
}


/* Helps to provide Space for Reward headings */
 @media only screen and (min-width: 768px){
        #move-span{
            margin-left: 9rem;
        }
        #move-span2{
            margin-left: 11.5rem;
        }
      }
      @media only screen and (max-width: 768px){
         #move-span{
             margin-left: 0rem;
         }
         #move-span2{
             margin-left: 0rem;
         }
      }

/* Lights up Bookmark */
#bookmarked{
    color: hsl(176, 72%, 28%);
}

/* Lights up circle by Pledge reward name */
.hover:hover{
  color: hsl(176, 50%, 47%);
  cursor: pointer;
}
/* Lights up Reward name */
.pledgeHover:hover{
    border: solid hsl(176, 50%, 47%);
}